@page "/images/{id}"
@inherits BaseComponent
@using Docker.DotNet.Models

@if (PageLoaded && Image != null && ImageHistory != null)
{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="form-section-title">
                RepoTags
            </div>
            <div class="table-responsive py-2">
                <table class="table table-sm table-borderless" style="border: none">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 20%"></th>
                            <th scope="col" style=""></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var repoTag in Image.RepoTags)
                        {
                            <tr>
                                <td><span class="badge badge-info p-2">@repoTag</span></td>
                                <td>
                                    <div class="btn-group btn-group-sm" id="imageActions">
                                        <button class="btn btn-info" type="button" data-toggle="tooltip" data-placement="top" title="Push to registry">
                                            <span class="fa fa-upload"></span>
                                        </button>
                                        @*<button class="btn btn-info" type="button" data-toggle="tooltip" data-placement="top" title="Pull from registry">
                                                <span class="fa fa-download"></span>
                                            </button>*@
                                        <button class="btn btn-danger" @onclick="e => UnTagImage(repoTag)" data-toggle="tooltip" data-placement="top" title="Remove tag">
                                            <span class="fa fa-trash"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-section-title">
                Tag Image
            </div>
            <form>
                <div class="form-group row">
                    <label for="registry" class="col-lg-1 col-form-label">Registry:</label>
                    <div class="col-lg-11">
                        <select class="form-control" id="network" @bind="Repository">
                            <option selected value="">Do not specify</option>
                            <option value="fbozkurt">DockerHub (fbozkurt)</option>
                            <option value="localhost:7000">MyHub1</option>
                            <option value="localhost:7001">MyHub2</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-sm-1 col-form-label">Name:</label>
                    <div class="col-sm-11">
                        <input @bind="Name" type="text" class="form-control" id="name" placeholder="redpier, myapp, any-name" autocomplete="off" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tag" class="col-sm-1 col-form-label">Tag:</label>
                    <div class="col-sm-11">
                        <input @bind="Tag" type="text" class="form-control" id="tag" placeholder="2.1.1, linux, arm64" autocomplete="off">
                    </div>
                </div>
                @if (!string.IsNullOrWhiteSpace(Name))
                {
                    <div class="form-group row">
                        <div class="col">
                            <span class="text-muted small">
                                <b>output: </b>
                                @if (!string.IsNullOrWhiteSpace(Repository))
                                {
                                    <span>@(Repository ?? "registry" )/</span>
                                }
                                <span>@(Name ?? "image-name")</span>
                                @if (!string.IsNullOrWhiteSpace(Tag))
                                {
                                    <span>:@(Tag ?? "tag")</span>
                                }
                                else
                                {
                                    <span>:latest</span>
                                }
                            </span>
                        </div>
                    </div>
                }
                <button class="btn btn-primary my-2" @onclick="TagImage" disabled="@(string.IsNullOrWhiteSpace(Name) || IsBusy)">Tag image</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="form-section-title py-3">
                Details
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" style="width: 20%">Details</th>
                            <th scope="col" style="width: 80%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>@(Image.ID)</td>
                        </tr>
                        <tr>
                            <th>Size</th>
                            <td>@((Image.Size / (double)1000000).ToString("N2")) MB</td>
                        </tr>
                        <tr>
                            <th>Build</th>
                            <td>@Image.Os, @Image.Architecture</td>
                        </tr>
                        <tr>
                            <th>Created</th>
                            <td>@Image.Created.ToString("yyyy-MM-dd HH:mm")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" style="width: 20%">Config</th>
                            <th scope="col" style="width: 80%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>CMD</th>
                            @if (Image.Config.Cmd != null && Image.Config.Cmd.Count > 0)
                            {
                                <td>@Image.Config.Cmd.Aggregate((a, b) => a + " " + b)</td>
                            }
                        </tr>
                        <tr>
                            <th>Entrypoint</th>
                            @if (Image.Config.Entrypoint != null && Image.Config.Entrypoint.Count > 0)
                            {
                                <td>@Image.Config.Entrypoint.Aggregate((a, b) => a + " " + b)</td>
                            }
                            else
                            {
                                <td></td>
                            }
                        </tr>
                        @*<tr>
                                <th>Volumes</th>
                                <td>
                                    <span class="badge badge-info py-2">/var/lib/registry</span>
                                    <span class="badge badge-info py-2">/data</span>
                                </td>
                            </tr>*@
                        <tr>
                            <th>Exposed ports</th>
                            <td>
                                @if (Image.Config.ExposedPorts != null)
                                {
                                    @foreach (var port in Image.Config.ExposedPorts)
                                    {
                                        <span class="badge badge-info py-2 mx-1">@port.Key</span>
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <th>Environment</th>
                            <td>
                                <table class="table table-bordered table-sm m-0">
                                    <tbody>
                                        @foreach (var env in Image.Config.Env)
                                        {
                                            var key = env.Split('=').First();
                                            var value = env.Split('=').Last();
                                            <tr>
                                                <td>@key</td>
                                                <td>@value</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th colspan="3">History</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th scope="col" style="width: 20%">Size</th>
                            <th scope="col">Created by</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (PageLoaded & ImageHistory != null)
                        {
                            foreach (var record in ImageHistory)
                            {
                                <tr>
                                    <td>@((record.Size / (double)1000000).ToString("N2")) MB</td>
                                    <td>@record.CreatedBy</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            @*<nav aria-label="Image history pagination">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>*@
        </div>
    </div>
}
else if (!PageLoaded)
{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="text-center">
                <div class="spinner-border spinner-border-sm" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
}
@code{
    [Parameter]
    public string Id { get; set; }

    [Inject]
    IImageService ImageService { get; set; }

    public ImageInspectResponse Image { get; set; }

    public List<ImageHistoryResponse> ImageHistory { get; set; }

    private string Repository;

    private string Name;

    private string Tag;

    protected override async Task OnInitializedAsync()
    {
        await FetchData();
        PageLoaded = true;
    }

    public async Task FetchData()
    {
        try
        {
            IsBusy = true;
            Image = await ImageService.Inspect(Id);
            ImageHistory = await ImageService.GetHistory(Id) as List<ImageHistoryResponse>;
        }
        catch
        {
            ToastService.ShowError("An error occured while getting data from server");
        }
        finally
        {
            IsBusy = false;
        }
    }

    public async Task TagImage()
    {
        try
        {
            IsBusy = true;

            if (string.IsNullOrWhiteSpace(Name))
                return;

            if (Image != null)
            {
                var repoName = string.IsNullOrWhiteSpace(Repository) ? Name : Repository + "/" + Name;

                await ImageService.TagAsync(Image.ID, repoName, Tag);

                ToastService.ShowSuccess("Image tagged");

                Repository = string.Empty;
                Name = string.Empty;
                Tag = string.Empty;

                await FetchData();
            }
        }
        catch (Exception ex)
        {
            ToastService.ShowError(ex.Message);
        }
        finally
        {
            await FetchData();
            IsBusy = false;
        }
    }

    public async Task UnTagImage(string repoTag)
    {
        try
        {
            IsBusy = true;
            await ImageService.RemoveAsync(repoTag);
            ToastService.ShowSuccess($"Tag remoed");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            ToastService.ShowError(ex.Message);
        }
        finally
        {
            await FetchData();
            IsBusy = false;
        }
    }
}