@page "/containers"
@*@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]*@
<h1>Containers</h1>

<p>This component demonstrates fetching data from the server.</p>
@if (ContainerList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Name</th>
                <th>State</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var container in ContainerList)
            {
                <tr>
                    <td>@container.ID.Substring(0, 12)</td>
                    <td>@container.Image</td>
                    <td>@string.Join("", container.Names)</td>
                    <td>@container.State</td>
                    <td>@container.Created.ToString("yyyy/MM/dd HH:mm:ss")</td>
                    <td><button class="btn btn-primary" @onclick="() => Start(container.ID)">Start</button></td>
                    <td><button class="btn btn-primary" @onclick="() => Stop(container.ID)">Stop</button></td>
                </tr>
            }
        </tbody>
    </table>
}
