@page "/images"

<h1>Images</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (ImagesList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Parend Id</th>
                <th>Labels</th>
                <th>Tags</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var image in ImagesList)
            {
                <tr>
                    <td>@image.ID</td>
                    <td>@image.ParentID</td>
                    <td>@string.Join("", image.Labels)</td>
                    <td>@string.Join("", image.RepoTags)</td>
                    <td>@image.Size</td>
                </tr>
            }
        </tbody>
    </table>
}
