@page "/containers"
@inherits BaseComponentWithDataTable<ContainerListResponse>
@using Docker.DotNet.Models

<ProgressBar ProgressBarMaxValue="SelectedItems.Count" ProgressBarValue="ProgressBarValue" ShowProgressBar="IsBusy"></ProgressBar>
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        @if (PageLoaded)
        {
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-outline-primary" disabled="@(!SelectedItems.Any())" @onclick="StartContainers">Start</button>
                <button type="button" class="btn btn-outline-primary" disabled="@(!SelectedItems.Any())" @onclick="StopContainers">Stop</button>
            </div>
            <div class="d-block d-sm-none py-1" />
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-outline-primary" disabled="@(!SelectedItems.Any())" @onclick="PauseContainers">Pause</button>
                <button type="button" class="btn btn-outline-primary" disabled="@(!SelectedItems.Any())" @onclick="UnPauseContainers">Unpause</button>
                <button type="button" class="btn btn-outline-primary" disabled="@(!SelectedItems.Any())" @onclick="RestartContainers">Restart</button>
                <button type="button" class="btn btn-outline-primary" disabled="@(!SelectedItems.Any())" @onclick="KillContainers">Kill</button>

                <button type="button" class="btn btn-danger" disabled="@(!SelectedItems.Any())" @onclick="RemoveContainers">
                    <div class="form-inline">
                        <span class="fa fa-trash"></span>
                        <span class="d-none d-lg-block text-nowrap pl-1">Remove</span>
                    </div>
                </button>

            </div>
            <div class="d-block d-sm-none py-1" />
            <a class="btn btn-sm btn-success float-sm-right" href="/containers/add">
                <span class="fa fa-plus"></span> Add new container
            </a>
            @*<div class="btn-group float-right">
                    <button type="button" class="btn btn-sm btn-danger" disabled="@(IsBusy || !SelectedItems.Any())">
                        <span class="fa fa-trash"></span> Remove
                    </button>
                </div>*@
            <DataTableWithPagination Items="Items" TItem="ContainerListResponse" Context="container" @bind-SelectedItems="SelectedItems" IsBusy="IsBusy" ColSpan="8" @ref="DataTable" PageSize="10">
                <TableHeader>
                    <th scope="col">Name</th>
                    <th scope="col">State</th>
                    <th scope="col">Ports</th>
                    <th scope="col">Image</th>
                    <th scope="col">Stack</th>
                    <th scope="col">Created</th>
                    <th scope="col">Actions</th>
                </TableHeader>
                <TableRow>
                    <td><a href="@($"/containers/{container.ID}")">@container.Names.First().Trim('/')</a></td>
                    <td>
                        @{
                            switch (container.State)
                            {
                                case "running":
                                    {
                                        <div class="badge badge-success p-2">
                                            Running
                                        </div>
                                        break;
                                    }
                                case "stopped":
                                    {
                                        <div class="badge badge-danger p-2">
                                            Stopped
                                        </div>
                                        break;
                                    }
                                case "exited":
                                    {
                                        <div class="badge badge-danger p-2">
                                            Stopped
                                        </div>
                                        break;
                                    }
                                case "paused":
                                    {
                                        <div class="badge badge-warning p-2">
                                            Paused
                                        </div>
                                        break;
                                    }
                                default:
                                    break;
                            }
                        }
                    </td>
                    <td>
                        @{
                            foreach (var port in container.Ports.Where(p => p.PublicPort != 0).Take(3).ToList())
                            {
                                <div class="badge badge-info p-1 mr-1">
                                    <a href="http://localhost:@port.PublicPort" target="_blank" class="text-white">@($"{port.PublicPort}:{port.PrivatePort}")</a>
                                </div>
                            }
                        }
                    </td>
                    <td>@container.Image</td>
                    <td>-</td>
                    <td>@container.Created.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>
                        <a href="/containers/logs/portainer" class="fa fa-file-alt px-1"></a>
                        <a href="#" class="fa fa-info-circle px-1"></a>
                        <a href="#" class="fa fa-chart-area px-1"></a>
                        <a href="/containers/console/portainer" target="_blank" class="fa fa-terminal px-1"></a>
                    </td>
                </TableRow>
            </DataTableWithPagination>
        }
        else
        {
            <div class="text-center">
                <div class="spinner-border spinner-border-sm" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        }
    </div>
</div>

@code{
    [Inject]
    public IContainerService ContainerService { get; set; }

    public async Task StartContainers()
    {
        try
        {
            IsBusy = true;
            foreach (var container in SelectedItems)
            {
                var result = await ContainerService.StartAsync(container.ID);

                if (result)
                    ToastService.ShowSuccess($"Started {container.Names.First().Trim('/')}");
                else
                    ToastService.ShowWarning($"An error occured while starting {container.Names.First().Trim('/')}");

                ProgressBarValue += 1;
                StateHasChanged();
            }
        }
        catch
        {
            ToastService.ShowError("An error occured while starting container(s)");
        }
        finally
        {
            ProgressBarValue = 0;
            await FetchData();
            IsBusy = false;
        }
    }

    public async Task StopContainers()
    {
        try
        {
            IsBusy = true;
            foreach (var container in SelectedItems)
            {
                var result = await ContainerService.StopAsync(container.ID);

                if (result)
                    ToastService.ShowSuccess($"Stopped {container.Names.First().Trim('/')}");
                else
                    ToastService.ShowWarning($"An error occured while stopping {container.Names.First().Trim('/')}");

                ProgressBarValue += 1;
                StateHasChanged();
            }
        }
        catch
        {
            ToastService.ShowError("An error occured while stopping container(s)");
        }
        finally
        {
            ProgressBarValue = 0;
            await FetchData();
            IsBusy = false;
        }
    }

    public async Task PauseContainers()
    {
        try
        {
            IsBusy = true;
            foreach (var container in SelectedItems)
            {
                var result = await ContainerService.PauseAsync(container.ID);

                if (result)
                    ToastService.ShowSuccess($"Paused {container.Names.First().Trim('/')}");
                else
                    ToastService.ShowWarning($"An error occured while pausing {container.Names.First().Trim('/')}");

                ProgressBarValue += 1;
                StateHasChanged();
            }
        }
        catch
        {
            ToastService.ShowError("An error occured while pausing container(s)");
        }
        finally
        {
            ProgressBarValue = 0;
            await FetchData();
            IsBusy = false;
        }
    }

    public async Task UnPauseContainers()
    {
        try
        {
            IsBusy = true;
            foreach (var container in SelectedItems)
            {
                var result = await ContainerService.UnpauseAsync(container.ID);

                if (result)
                    ToastService.ShowSuccess($"Unpaused {container.Names.First().Trim('/')}");
                else
                    ToastService.ShowWarning($"An error occured while unpausing {container.Names.First().Trim('/')}");

                ProgressBarValue += 1;
                StateHasChanged();
            }
        }
        catch
        {
            ToastService.ShowError("An error occured while unpausing container(s)");
        }
        finally
        {
            ProgressBarValue = 0;
            await FetchData();
            IsBusy = false;
        }
    }

    public async Task RestartContainers()
    {
        try
        {
            IsBusy = true;
            foreach (var container in SelectedItems)
            {
                var result = await ContainerService.RestartAsync(container.ID);

                if (result)
                    ToastService.ShowSuccess($"Restarted {container.Names.First().Trim('/')}");
                else
                    ToastService.ShowWarning($"An error occured while restarting {container.Names.First().Trim('/')}");

                ProgressBarValue += 1;
                StateHasChanged();
            }
        }
        catch
        {
            ToastService.ShowError("An error occured while restarting container(s)");
        }
        finally
        {
            ProgressBarValue = 0;
            await FetchData();
            IsBusy = false;
        }
    }

    public async Task KillContainers()
    {
        try
        {
            IsBusy = true;
            foreach (var container in SelectedItems)
            {
                var result = await ContainerService.KillAsync(container.ID);

                if (result)
                    ToastService.ShowSuccess($"Unpaused {container.Names.First().Trim('/')}");
                else
                    ToastService.ShowWarning($"An error occured while killing {container.Names.First().Trim('/')}");

                ProgressBarValue += 1;
                StateHasChanged();
            }
        }
        catch
        {
            ToastService.ShowError("An error occured while killing container(s)");
        }
        finally
        {
            ProgressBarValue = 0;
            await FetchData();
            IsBusy = false;
        }
    }

    public async Task RemoveContainers()
    {
        try
        {
            IsBusy = true;
            foreach (var container in SelectedItems)
            {
                var result = await ContainerService.RemoveAsync(container.ID);

                if (result)
                    ToastService.ShowSuccess($"Removed {container.Names.First().Trim('/')}");
                else
                    ToastService.ShowWarning($"An error occured while removing {container.Names.First().Trim('/')}");

                ProgressBarValue += 1;
                StateHasChanged();
            }
        }
        catch
        {
            ToastService.ShowError("An error occured while removing container(s)");
        }
        finally
        {
            ProgressBarValue = 0;
            await FetchData();
            IsBusy = false;
        }
    }
}